{% extends 'base/_base_index.html' %}
{% block title %}Inicio{% endblock %}
{% block body_content %}
<header>
    <!-- Nav -->
    {% include 'base/_base_nav_index.html' %}
    <!-- Main content -->
    <div class="home">
        <div class="container principal-container">
            <div class="row justify-content-md-center">
                {% for category in categories %}
                <div class="col-xl-3 col-principal">
                    <a href="{% url 'content' %}">{{ category }}</a>
                </div>
                {% endfor %}
{#                <div class="col-xl-3 col-principal">#}
{#                    <a href="{% url 'content' %}">Documentos</a>#}
{#                </div>#}
{#                <div class="col-xl-3 col-principal">#}
{#                    <a href="{% url 'content' %}">Transporte</a>#}
{#                </div>#}
            </div>
        </div>
    </div>
</header>
<!-- Footer -->
{% include 'base/_base_footer.html' %}
{% endblock %}
