{% extends 'base/_base_index.html' %}
{% block title %}Inicio{% endblock %}
{% block body_content %}
<header>
    <!-- Nav -->
    {% include 'base/_base_nav_index.html' %}
    <!-- Main content -->
    <div class="home">
        <div class="container principal-container">
            <div class="row justify-content-md-center">
                {% for global_category in global_categories %}
                <div class="col-xl-3 col-principal">
                    <a href="{{ global_category.get_absolute_url }}">{{ global_category }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</header>
<!-- Footer -->
{% include 'base/_base_footer.html' %}
{% endblock %}
