<!-- Copyright -->
<div id="copyright" class="container">
    <a href="https://ansistemas.com" target="_blank" rel="noopener noreferrer">
        © 2021 AN Sistemas</a> | Recolha de informação
    <a href="https://github.com/nighto/brasil-portugal" target="_blank" rel="noopener noreferrer">Arlindo Pereira</a> &
    <a href="https://ansistemas.com" target="_blank" rel="noopener noreferrer"> António Neves</a> |
    Photo by <a href="https://unsplash.com/@bananablackcat?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Svetlana Gumerova</a>
    on <a href="https://unsplash.com/s/photos/portugal?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Unsplash</a>
</div>